:root {
    --primary: #458aff;
    --pacman: #FFD700;
}

body {
    margin: 0;
    background: var(--primary);
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 60px;
    width: 160px;
    margin: 0;
    transform: translate(-50%, -50%);
}
.loader.hidden {
    opacity: 0;
    transition: opacity 1.5s ease-out;
}

.circles {
    position: absolute;
    left: -5px;
    top: 0;
    height: 60px;
    width: 180px
}

.circles span {
    position: absolute;
    top: 25px;
    height: 12px;
    width: 12px;
    border-radius: 12px;
    background-color: #EFEFEF
}

.circles span.one {
    right: 80px
}

.circles span.two {
    right: 40px
}

.circles span.three {
    right: 0px
}

.circles {
    -webkit-animation: animcircles 0.5s infinite linear;
    animation: animcircles 0.5s infinite linear
}

@-webkit-keyframes animcircles {
    0% {
        transform: translate(0px, 0px)
    }
    100% {
        transform: translate(-40px, 0px)
    }
}

@keyframes animcircles {
    0% {
        transform: translate(0px, 0px)
    }
    100% {
        transform: translate(-40px, 0px)
    }
}

.pacman {
    position: absolute;
    left: 0;
    top: 0;
    height: 60px;
    width: 60px
}

.pacman .eye {
    position: absolute;
    top: 10px;
    left: 30px;
    height: 7px;
    width: 7px;
    border-radius: 7px;
    background: var(--primary);
}

.pacman span {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px
}

.pacman span::before {
    content: "";
    position: absolute;
    left: 0;
    height: 30px;
    width: 60px;
    background-color: var(--pacman);
}

.pacman .top::before {
    top: 0;
    border-radius: 60px 60px 0 0
}

.pacman .bottom::before {
    bottom: 0;
    border-radius: 0 0 60px 60px
}

.pacman .left::before {
    bottom: 0;
    height: 60px;
    width: 30px;
    border-radius: 60px 0 0 60px
}

.pacman .top {
    -webkit-animation: animtop 0.5s infinite;
    animation: animtop 0.5s infinite
}

@-webkit-keyframes animtop {
    0%, 100% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(-45deg)
    }
}

@keyframes animtop {
    0%, 100% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(-45deg)
    }
}

.pacman .bottom {
    -webkit-animation: animbottom 0.5s infinite;
    animation: animbottom 0.5s infinite
}

@-webkit-keyframes animbottom {
    0%, 100% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(45deg)
    }
}

@keyframes animbottom {
    0%, 100% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(45deg)
    }
}