:root {
    --crsl-bg: transparent;
    --box-bg: #1e272e;
    --box-shadow: #0000001c;
    --box-shadow-border: #0000000f;
    --box-border: #444;
    --ratio: 651 / 898;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background: rgb(255,215,0);
    background: linear-gradient(90deg, rgba(255,215,0,1) 31%, rgba(255,203,0,1) 57%);
}

body.rainbow {
    background:
            linear-gradient(rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%)
            0 0/100% 200%;
    animation: a 2s linear infinite;}

@keyframes a {
    to {background-position:0 -200%}
}

body > header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: auto;
    height: 80px;
    margin: 3rem;

    &>img {
        height: inherit;
    }
}

.profile-container {
    display: flex;
    transition: transform 1s ease-in-out;
}

.slider-container {
    padding: 6rem;
}

.slider-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 3rem;
}

.slider-button:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Changement de couleur au survol */
    transform: scale(1.05); /* Légère augmentation de la taille au survol */
}

.slider-button:active {
    background-color: rgba(0, 0, 0, 0.7); /* Couleur différente lorsque le bouton est cliqué */
    transform: scale(1); /* Réinitialisation de la taille */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombre plus petite au clic */
}
.prev {
    left: 10px;
}
.next {
    right: 10px;
}