html, body {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    background-color: #458aff;
}

canvas {
    /*background-image: url("assets/testmap.svg");*/
    /*background-repeat: no-repeat;*/
    /*!*background-size: calc(88px);*!*/
    /*transition: background-position 0.1s ease-out;*/
    opacity: 1;
    transition: opacity 1s ease-in;
}

#canvas.hidden {
    opacity: 0;
}