@font-face {
    font-family: 'PixelOperator';
    src: url('../font/PressStart2P-Regular.ttf') format('truetype');
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    background-color: #458aff;
}

#canvas {
    background-repeat: no-repeat;
    opacity: 1;
    transition: opacity 1s ease-in, background-position 0.1s ease-out;
}

#canvas.hidden {
    opacity: 0;
}