body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffdb4d;
}

.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    perspective: 1000px; /* Ajoute de la perspective pour l'effet 3D */
}

.slide-track {
    display: flex;
    animation: scroll 10s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.slide {
    min-width: 25%;
    transition: transform 0.5s ease;
    transform-style: preserve-3d; /* Préserve l'effet 3D */
}

.slide img {
    width: 100%;
    display: block;
}

/* Transformations pour tourner les jaquettes */
.slide:nth-child(1) {
    transform: rotateY(40deg);
}

.slide:nth-child(2) {
    transform: rotateY(20deg);
}

.slide:nth-child(3) {
    transform: rotateY(0deg);
}

.slide:nth-child(4) {
    transform: rotateY(-20deg);
}

.slide:nth-child(5) {
    transform: rotateY(-40deg);
}

.slide:nth-child(6) {
    transform: rotateY(40deg);
}

.slide:nth-child(7) {
    transform: rotateY(20deg);
}

.slide:nth-child(8) {
    transform: rotateY(0deg);
}
