html, body {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

canvas {
    background-color: #458aff;
    background-image: url("assets/testmap.svg");
    background-repeat: no-repeat;
    background-size: 80%;
    transition: background-position 0.1s ease-out;
}