@font-face {
	font-family: Caveat;
	src: url("./caveat/Caveat-VariableFont_wght.ttf");
}

body {
	font-family: Caveat;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100vh;
	width: 100vw;
}

#main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 3vh;
}

#menu,
#footer {
	font-size: 12px;
	width: 100vw;
	color: white;
	background-color: brown;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
	margin: 0;
}

#overlay {
	display: none;
	position: absolute;
	z-index: 10;
	height: 100vh;
	width: 100vw;
	background-color: rgba(255, 255, 255, 0.8);
}

#popUp {
	display: none;
	/* found, click3, timeUp */
	background-image: url("./1368560.png");
	font-size: 20px;
	background-repeat: no-repeat;
	background-size: 400px;
	background-position: center center;
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 11;
	color: black;

	&>div {
		flex-direction: column;
		display: none;
		text-align: center;
		justify-content: center;
		width: 100vw;
		height: 100vh;
		opacity: 0;
		animation: fadeIn 1.2s forwards;

		&>p {
			margin: 2px;
		}

		.difficulty {
			display: flex;
			flex-direction: column;
			align-items: center;

			/* easy, normal, difficult */
			&>button {
				background-color: whitesmoke;
				font-family: Caveat;
				font-weight: bold;
				font-size: 22px;
				width: 150px;
				margin: 4px;
				cursor: pointer;
				border-radius: 10px;
				border-style: none;
			}
		}
	}
}


#game {
	align-items: center;
	display: flex;
	flex-direction: column;

	#gamebox {
		position: relative;
		margin-top: 30px;
	}

	/* title, field */
	#field {
		width: 288px;
		height: 300px;
		border-style: solid;
		border-radius: 15px;
		border-width: 3px;

		/* emojis */
		&>p {
			font-size: 40px;
			position: absolute;
			cursor: pointer;
		}
	}

	#title {
		font-size: 28px;
		background-color: white;
		border-style: solid;
		border-radius: 50%;
		border-width: 3px;
		font-weight: bold;
		padding: 8px;
		position: absolute;
		top: -30px;
		left: 50px;
		text-align: center;
		width: 173px;
		z-index: 9;
		margin: 0;
	}
}

#info {
	width: 100vw;
	height: 160px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	#cat {
		width: 144px;
		height: 144px;

		img {
			width: 144px;
		}
	}

	#speechBubble_timer {
		&>div {
			display: flex;
			flex-direction: column;
			width: 144px;
			height: 80px;

			&>p {
				display: flex;
				justify-content: center;
				font-size: 12px;
				font-weight: bold;
				margin: 0;
				padding: 0;

				&>span {
					margin-left: 3px;
				}
			}
		}

		&>div:nth-child(1) {
			display: flex;
			justify-content: center;
			background-image: url("./speechBubble/Group.svg");
			background-repeat: no-repeat;
			background-size: 144px;

			#targetEmoji {
				display: flex;
				align-items: center;
				font-size: 42px;
				margin-bottom: 50px;
				margin-top: 30px;
			}

			&>div:nth-child(2) {
				#score {
					margin-left: 3px;
				}
			}
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@media screen and (min-width: 350px) {
	#speechBubble_timer {
		&>div {
			&>p {
				font-size: 15px;
			}
		}
	}
}

@media screen and (min-width: 425px) {

	body {
		font-size: 28px;
	}

	#game {
		/* margin-top: 110px; */
		transform: scale(1.1);
	}

	#info {
		/* margin-top: 30px; */
		transform: scale(1.1);
	}

	#popUp {
		/* found, click3, timeUp */
		transform: scale(1.2);
		height: 100vh;

		&>div {
			height: 100vw;
		}
	}
}


@media screen and (min-width: 768px) {

	#game {
		/* margin-top: 150px; */
		transform: scale(1.1);
		width: 50vw;
	}

	#info {
		/* margin-top: 80px; */
		transform: scale(1.1);
		width: 50vw;
		align-content: center;
	}

	#popUp {
		/* found, click3, timeUp */
		transform: scale(1.1);
		height: 100vh;

		&>div {
			height: 100vh;
		}
	}
}

@media screen and (min-width: 1024px) {
	body {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		height: 100vh;
		width: 100vw;
	}

	#main {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		height: 100vh;
		width: 100vw;
	}

	#game {
		/* margin-top: 100px; */
		transform: scale(1.2);
	}

	#info {
		margin-top: 200px;
		transform: scale(1.2);
	}
}

@media screen and (min-width: 1440px) {
	body {
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 832px;
		width: 1440px;
	}

	#main {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		height: 832px;
		width: 1440px;
	}

	#game {
		/* margin-top: 100px; */
		transform: scale(1.8);
	}

	#info {
		/* margin-top: 300px; */
		transform: scale(1.8);
	}

	#popUp {
		/* found, click3, timeUp */
		transform: scale(1.8);
		height: 100vh;

		&>div {
			height: 100vh;
		}
	}
}