body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: cadetblue;
}


#plateau {
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
}

.carre {
    width: 100px;
    height: 100px;
    position: relative;
}

.carre svg {
    height: 65px;
    width: 65px;
    margin: 15px;
    position: relative;
    z-index: -9;
}

path {
    position: relative;
    z-index: -10;
}

.pieces {
    position: relative;
    z-index: 9;
}

.chartreuse {
    background-color: chartreuse;
}

.blue {
    background-color: blue;
}

.black {
    fill: black;
}

.white {
    fill: white;
}
.yellow {
    fill: yellow;
}
